<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All forms</title>
  </head>
  <body>
    <h1>All Forms</h1>
    <ul>
      <% for (let form of forms) { %>
      <li>
        <a href="/forms/<%= form._id %>"
          ><%=`${form.firstName} ${form.lastName}`%>
        </a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
